<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "ourbrands">
	
	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
			
		<strong><p style = "margin-top: 3%; margin-bottom: 3%; font-size: 4em; color: #1CB5E0; text-align: center;">OUR BRANDS</p></strong>

			<%= link_to "http://www.tdcautoauction.com/" do %>
			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" style = "border: 1px solid #f0f0f0; background-color: #53bcfd;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/tdclogo_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: white;">TDC Auto Auction</p></strong>
				</div>
			</div>
			<% end %>
			

			<%= link_to "https://tranquil-shore-25457.herokuapp.com/" do %>
			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" style = "border: 1px solid #f0f0f0; background-color: #f900ca;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/tdcwebsitebuilder_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: white;">TDC Website Builder</p></strong>
				</div>
			</div>
			<% end %>
			
	</div>

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

		<%= link_to "http://www.rvnbrentals.com/" do %>
			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" style = "border: 1px solid #f0f0f0; background-color: #e20049;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/rvnb_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: white;">RVNB</p></strong>
				</div>
			</div>
		<%end%>

		<%= link_to "http://the-dealers-choice.com/" do %>					
			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" style = "border: 1px solid #f0f0f0; background-color: white;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/thedealerschoice_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: #53bcfd;">The Dealers Choice</p></strong>
				</div>
			</div>	
		<% end %>		
			
	</div>


<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
			
		<%= link_to "http://luxuryautosforsale.com/" do %>
			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" style = "border: 1px solid #f0f0f0; background-color: white;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/luxury_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: black;">Luxury Autos for Sale</p></strong>
				</div>
			</div>
		<%end%>

		<%= link_to "https://fierce-sea-43472.herokuapp.com/" do %>

			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" style = "border: 1px solid #f0f0f0; background-color: #53bcfd;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/wacbac_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: white;">Want A Car Buy A Car</p></strong>
				</div>
			</div>

		<% end %>
			
	</div>
	
</div>
