<% cache do %>
	<div class = "main-content">

		<%= render "whatwedo/header"%>

		<%= render 'whatwedo/whatwedo'%>
		
		<%= render 'whatwedo/aboutus'%>

		<%= render 'whatwedo/ourbrands'%>

		<%= render 'whatwedo/clientheader'%>

		<%= render 'whatwedo/clients'%>
			
	</div>

<% end %>


