<!DOCTYPE html>
<html>
  <head>
    <title>TDC Digital Media | Our Brands | Software and Web Consultancy | Sales and Marketing | Tech Stack Modernizations</title>

    <%= favicon_link_tag 'https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/logo1.ico' %>
    <%= csrf_meta_tags %>    
      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script async src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
            
    <%= javascript_include_tag 'application', 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js', :cache => true %>

    <%= stylesheet_link_tag    'application', 'https://www.w3schools.com/w3css/4/w3.css', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', :cache => true %>
    
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" lazyload>
            
    <meta name="description" content="TDC Digital Media | Our Brands | Software and Web Consultancy | Sales and Marketing | Tech Stack Modernizations">  
    
    <link rel="canonical" href="http://www.tdcdigitalmedia.com" />

    <!-- <script src="https://js.braintreegateway.com/v2/braintree.js" async></script> -->
      
    <!-- <meta name="viewport" content="width=device-width"> -->
    <meta content="TDC DIGITAL MEDIA" property="og:title" />    
    
  </head>

  <body>
  
    <div class = "container">
      <%= content_tag :div, alert, class: "flash bg-danger" if alert %>
      <%= content_tag :div, notice, class: "flash bg-success" if notice %>
      <div id="notification" class = "flash bg-success"> </div>    
    </div>

    <% cache do %>
  
      <%= render 'layouts/nav' %>  

    <% end %>
      
    <%= yield %>

      <%= render 'layouts/footer' %> 

  </body>
</html>
